@use 'fonts' as *;

$primaryRed: #e60012;
$primaryBlue: #0b2b6b;
$backgroundBlue: #d6f0fa;
$backgroundGray: #dadada;
$light: #ffffff;
$dark: #484848;
$lightGray: #efefef;
$hoverRed: rgb(172, 0, 13);

$fontNormal: "MuseoSans Light", sans-serif;
$fontBold: "MuseoSans Bold", sans-serif;
