@charset "utf-8";
@use 'variables' as *;

$grey-light: $backgroundGray;
$primary: $primaryRed;
$link: $dark;
$link-hover: $primaryRed;
$family-sans-serif: $fontNormal;


@import "/node_modules/bulma/sass/utilities/_all.sass";
@import "/node_modules/bulma/sass/base/_all.sass";
@import "/node_modules/bulma/sass/components/breadcrumb.sass";
