@use '../variables' as *;
@use '../mixins' as *;

// active image
.image_lightBox__display {
  position: relative;
  cursor: zoom-in;

  img {
    border-radius: 4px;

    @media (width <=768px) {
      width: 100%;
      border-radius: 0;
    }
  }

  .trailer {
    svg {
      @include absoluteCenter;
    }
  }

  &:hover {
    .image_lightBox__displayNavigation {
      opacity: 1;
    }
  }

  // navigation buttons
  &Navigation {
    @include absoluteCenter;
    @include flexBox($align: true, $justify: space-between);
    padding-inline: 1.25rem;
    width: 100%;
    opacity: 0;

    &.showNav {
      opacity: 1;
    }

    button {
      @include noBorder(rgba(0, 0, 0, 0.25), 50%);
      display: grid;
      place-items: center;
      transition: all 300ms ease-out 25ms;
      padding: 1rem;

      svg {
        transition: scale 0.3s ease-out;
      }

      &:hover:not(:disabled) {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &:disabled {
        opacity: 0.5;
      }

      &:hover svg {
        scale: 1.2;
      }
    }
  }
}
